body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: white;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
   
}

nav a {
    color: white; /* Text color */
    text-decoration: none;
    margin: 0 90px; /* Space between links */
    font-family: 'Futura', sans-serif; /* Font style */
    font-weight: 300;
    font-size: 16px;
}



Nav Img{
    width: 100px;
}

nav a:hover {
    color: #ccc; /* Hover effect */
}



.slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
}

.slide h2, .slide p {
    margin-top: 80px; /* Add margin to account for the height of the nav */
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: auto;
    padding: 20px;
    position: relative;
}

#section1, #section2, #section3 {
    background-size: cover;
    background-position: center;
}

#section1 {
    background-image: url(Images/Background\ Banner\ rose.jpg);
}

#section2 {
    background-image: url(Images/\(C.I.\)\ Twitter\ banner.png);
}

.controls {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.image-button {
    background: transparent; /* Remove background color */
    border: none; /* Remove border */
    padding: 0; /* Remove padding if needed */
    cursor: pointer; /* Change cursor to pointer */
}
.rose-logo img {
    background: none; /* Removes any background color */
    border: none; /* Ensures no border is applied */
    padding: 0; /* Removes any padding around the image */
    display: block; /* Helps remove inline spacing */
}
