*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(Images/Background\ Banner\ rose.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    
}
Nav Img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8500a1;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;









    
}
.containerE{

    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
   
}
.containerE h1{
    font-size: 80px;

}
.container {
    padding: 100px 20px 0;
    max-width: 960px;
    margin: auto;
  }
  h1 {
    margin: 0;
    text-align: center;
    font-size: 200px;
    overflow: hidden;
    line-height: 1;
  }
  h1 span {
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }
  
  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }
  .text-box{
    font-weight: lighter;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    text-align: center;




  }
.text-box p{

    margin: 10px 0 40px; 
    letter-spacing: 20px ;
    width: 90%;
    color: #fff;
  
   
     margin:auto;
    font-size: 25px;
    color: #fff;
}

.img-gallery{
    width: 100%;
    
    display: list-item;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;

}

#preloader{
    background: #8500a1 url(images/loader.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}
.portfolio{
    min-height: 100vh;
    width: 100%;
    background-image: url(Images/Day\ and\ Night.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    scroll-behavior:smooth

}
.text-box2 h1{
    font-size: 70px;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box2 h2{
    font-size: 50px;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: right;
}

.text-box2 p{
    font-size: 20px;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: right; 
}

.Subheader{
    background-color: #38003a;
}



        

    @media (max-Width: 700px){
        .text-box p{
            font-size: 100;
            margin: 10px 0 40px; 
            letter-spacing: 20px ;
            width: 90%;
            color: #fff;
          
           
             margin: auto;
            font-size: 25px;
            color: #fff;
        }
           
        }
       
